@model IEnumerable<IcoItem>
@{
    ViewBag.Title = "Ico Index";
}

<h2>@ViewBag.Items</h2>
<div class="row">
    <table class="striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symblo</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="#">@item.Name</a></td>
                <td>@item.Symbol</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
            </tr>
        }
        </tbody>
    </table>
</div>

