@model IcoItem
@{
    ViewBag.Title = "Ico Detail";
}

<h2>Top ICOS</h2>


<div class="row">
    <div class="col col-sm-12 col-md-4">
        <i class="material-icons fa fa-pencil fa-2x"></i>
        <span class="title">@Model.ListPosition.PositionValue @Model.Name (@Model.Symbol)</span>
        <a asp-controller="IcosList" asp-action="IcoDetail" asp-route-id="@Model.Id">@Model.Name</a>
    </div>
    <div class="col col-sm-12 col-md-4">
        <i class="material-icons fa fa-pencil fa-2x"></i>
        <span class="title">@Model.ListPosition.PositionValue @Model.Name (@Model.Symbol)</span>
    </div>
    <div class="col col-sm-12 col-md-4">
        <a href="#" class="secondary-content"><i class="material-icons">@Model.StartTime.ToString("dd.MM.yyyy") - @Model.EndTime.ToString("dd.MM.yyyy")</i></a>
    </div>
    <p>
        @Model.Description
    </p>


</div>

