@model IEnumerable<IcoItem>
@{
    ViewBag.Title = "Most Popular";
}
<div class="row">
    <h2>@ViewBag.Title</h2>
    <table class="striped centered">
        <thead>
            <tr>
                <th class="text-lg-left">Name</th>
                <th>Symblo</th>
                <th>Start Time</th>
                <th class="centered">End Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-lg-left"><a href="#">@item.Name</a></td>
                    <td>@item.Symbol</td>
                    <td>@item.StartTime</td>
                    <td class="centered">@item.EndTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>

