@model IEnumerable<IcoItem>
@{
    ViewBag.Title = "Ico Index";
}

<h2>Top ICOS</h2>

<ul class="collection" style="border: none;">
    @foreach (var item in Model)
    {
        <li class="collection-item avatar card" style="margin-bottom: 10px;">
            <div class="row">
                <div class="col col-sm-12 col-md-4">
                    <i class="material-icons fa fa-pencil fa-2x"></i>
                    <span class="title">@item.ListPosition.PositionValue @item.Name (@item.Symbol)</span>
                    <a asp-controller="IcosList" asp-action="IcoDetail" asp-route-id="@item.Id">@item.Name</a>
                </div>
                <div class="col col-sm-12 col-md-4">
                    <i class="material-icons fa fa-pencil fa-2x"></i>
                    <span class="title">@item.ListPosition.PositionValue @item.Name (@item.Symbol)</span>
                </div>
                <div class="col col-sm-12 col-md-4">
                    <a href="#" class="secondary-content"><i class="material-icons">@item.StartTime.ToString("dd.MM.yyyy") - @item.EndTime.ToString("dd.MM.yyyy")</i></a>
                </div>
                <p>
                    @item.Description
                </p>


            </div>
        </li>
    }    
</ul>

@*<div class="row">
    <table class="striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symblo</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="#">@item.Name</a></td>
                <td>@item.Symbol</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
            </tr>
        }
        </tbody>
    </table>   
</div>*@


