@model IEnumerable<IcoItem>
@{
    ViewBag.Title = "Ico Index";
}

<h2>Top ICOS</h2>


@foreach (var item in Model)
{
<div class="row card-panel">

    <div class="col col-6 col-md-3">
        <i class="fa fa-star" style="color: gold;"> @item.ListPosition.PositionValue </i>
        <a asp-route-id="@item.Id" asp-controller="IcosList" asp-action="IcoDetail">
            @item.Name (@item.Symbol)
        </a>
    </div>
    <div class="col col-5 col-md-2">
        @item.TotalTokenCount.ToString("##,###")
    </div>
    <div class="col col-5 col-md-2">
        @item.Status
    </div>

    <div class="col col-md-3">
        <i class="fa fa-clock-o" style="color: green; font-size: 20px;"></i>
        @item.StartTime.ToString("dd.MM.yyyy") - @item.EndTime.ToString("dd.MM.yyyy")
    </div>
</div>
}


@*<div class="row">
        <table class="striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Symblo</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#">@item.Name</a></td>
                    <td>@item.Symbol</td>
                    <td>@item.StartTime</td>
                    <td>@item.EndTime</td>
                </tr>
            }
            </tbody>
        </table>
    </div>*@


